/*
  3. css modules
  naming ONEMLI
  XXX.modules.css

  one advantage of using CSS modules is that
  the classes are locally scoped by default

  for example if i copy the <h1 className='error'>Error</h1> into the Inline component
  you can see that it still works (kirmizi error yazisi basicStyles.css import edilmeden gorunur)

  CSS applies to EVERY CHILD component as well
  import './styling/basicStyles.css' Basics componente eklendi fakat Inline child component ilgili css e eristi

  this might lead to CSS CONFLICTS!!!

  CSS modules on the other hand because you reference class names using the styles variable CANNOT BE USED IN THE CHILDREN COMPONENTS
  if i copy the <h1 className={styles.success}>Success</h1> Inline component
  you can see the application doesnt compile
  ./src/basics/styling/Inline.js
  Line 29:22:  'styles' is not defined  no-undef

  application doesnt know what styles is. So you CANNOT ACCIDENTALLY USE

*/
.success {
  color: green;
}
